__pycache__/
*.pyc
*.pyo
*.pyd
.DS_Store
python-runtime/
python-embed.zip
python-installer.exe
outputs/*.png
outputs/*.json
models/*.joblib
!models/svm_model.joblib
dataset/normal/*
dataset/crack/*
dataset/pothole/*
dataset/severe/*
!dataset/normal/.gitkeep
!dataset/crack/.gitkeep
!dataset/pothole/.gitkeep
!dataset/severe/.gitkeep
venv/
.venv/
